*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next", "Helvetica Neue", Arial, sans-serif;
  color: #555;
}

a {
  color: unset;
  text-decoration: none;
}

.layout {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.nav {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.nav__me {
  height: 100px;
  width: 100px;
}

.nav__header {
  color: #AAA;
}

.nav__link {
  position: relative;
}

.nav__link:hover:before {
  content: '';
  position: absolute;
  left: -30px;
  top: -2px;
}

.nav__link--doodles:hover:before {
  content: '🎨'
}

.nav__link--code:hover:before {
  content: '🤖'
}

.nav__link--words:hover:before {
  content: '🖋'
}

.nav__link--uber:hover:before {
  content: '🚕';
}

.nav__link--plangrid:hover:before {
  content: '🔨'
}

.nav__link--scalefunder:hover:before {
  content: '🎢';
}

.nav__link--ck12:hover:before {
  content: '📚'
}

.nav__github {
  margin-top: auto;
  line-height: 1;
  display: flex;
  align-content: center;
}

.nav__github > img {
  height: 16px;
  margin-right: 8px;
}

.main {
  flex-grow: 1;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 50vh;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1;
  display: flex;
  align-items: center;
}
