/* Portfolio by/for Graham Murdoch*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 0;
  height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: black; }

.layout {
  height: 100%;
  width: 100%; }
  .layout #nav-wrap {
    position: fixed;
    z-index: 1;
    background-color: white;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%; }
    .layout #nav-wrap nav {
      margin-left: 3em; }
      .layout #nav-wrap nav .button, .layout #nav-wrap nav .trigger {
        cursor: pointer; }
      .layout #nav-wrap nav .buffer {
        height: 3em; }
      .layout #nav-wrap nav h1 {
        font-size: 1em;
        margin: 0 auto 3em auto; }
      .layout #nav-wrap nav ul {
        list-style: none;
        padding: 0; }
        .layout #nav-wrap nav ul ul {
          display: none;
          padding-left: 1em;
          margin: 1em auto 1em auto;
          color: #777; }
      .layout #nav-wrap nav .contact {
        font-size: .9em;
        color: #777;
        position: absolute;
        bottom: 2em; }
  .layout .content-wrap {
    margin-left: 15em;
    min-width: 400px; }
    .layout .content-wrap .content {
      display: none;
      text-align: right;
      margin-left: 10%;
      width: 80%;
      max-width: 35em; }
      .layout .content-wrap .content .buffer {
        height: 2.9em; }
      .layout .content-wrap .content svg {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-width: 30em;
        max-height: 30em;
        stroke-width: .02em;
        z-index: 0; }
        .layout .content-wrap .content svg path {
          stroke: #111; }
      .layout .content-wrap .content h1 {
        margin-top: 0;
        font-size: 1.5em; }
      .layout .content-wrap .content .copy {
        text-align: justify;
        text-indent: 2em; }
      .layout .content-wrap .content a {
        color: #777; }

@media handheld, (max-width: 700px), (max-device-width: 900px) {
  .layout {
    height: auto; }
    .layout #nav-wrap {
      position: relative;
      max-width: none;
      top: 0;
      width: 100%;
      height: auto;
      text-align: center;
      border-bottom: solid 1px #ddd; }
      .layout #nav-wrap nav {
        z-index: 1;
        background-color: white;
        margin-left: 0; }
        .layout #nav-wrap nav ul ul {
          padding-left: 0; }
        .layout #nav-wrap nav .contact {
          margin-top: 3em;
          position: relative;
          bottom: auto;
          margin-bottom: 2em; }
    .layout .content-wrap {
      margin-left: 0;
      min-width: 0; }
      .layout .content-wrap .content {
        text-align: center;
        margin: 1em auto;
        width: 90%; }
        .layout .content-wrap .content .buffer {
          height: 1em; }
        .layout .content-wrap .content svg {
          z-index: 0; }
      .layout .content-wrap h1 {
        font-size: 1.3em; }
      .layout .content-wrap a {
        float: right;
        margin-bottom: 1em; } }
