*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next", "Helvetica Neue", Arial, sans-serif;
  color: #555;
}

a {
  color: unset;
  text-decoration: none;
}

.layout {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.nav {
  position: fixed;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.nav__me {
  height: 100px;
  width: 100px;
}

.nav__header {
  color: #aaa;
}

.nav__link {
  position: relative;
}

.nav__link:hover:before {
  content: "";
  position: absolute;
  left: -30px;
  top: -2px;
}

.nav__link--doodles:hover:before {
  content: "🎨";
}

.nav__link--code:hover:before {
  content: "🤖";
}

.nav__link--words:hover:before {
  content: "🖋";
}

.nav__link--uber:hover:before {
  content: "🚕";
}

.nav__link--plangrid:hover:before {
  content: "🔨";
}

.nav__link--scalefunder:hover:before {
  content: "🎢";
}

.nav__link--ck12:hover:before {
  content: "📚";
}

.nav__github {
  margin-top: auto;
  line-height: 1;
  display: flex;
  align-content: center;
}

.nav__github > img {
  height: 16px;
  margin-right: 8px;
}

.main {
  flex-grow: 1;
  padding-left: 200px;
  font-family: Baskerville, Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}

.main--splash {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 100px;
  font-style: italic;
  line-height: 1;
  display: flex;
  align-items: center;
  color: salmon;
}

.project-description {
  width: 500px;
}

.project-description a {
  color: salmon;
}

.project-description a:hover,
.project-description a:focus {
  background: salmon;
  color: white;
  outline: none;
}
